{% extends 'base.html' %}

{% block title %}indexpage - Flask App{% endblock %}

{% block content %}
<div class="container mt-5">
        <h1>Current Users</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Is Admin</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ 'Yes' if user.is_admin else 'No' }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
