<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}indexpage - Flask App{% endblock %}

{% block content %}


<section id="section-1">
    <div class="content-slider">
      <input type="radio" id="banner1" class="sec-1-input" name="banner" checked>
      <input type="radio" id="banner2" class="sec-1-input" name="banner">
      <input type="radio" id="banner3" class="sec-1-input" name="banner">
      <input type="radio" id="banner4" class="sec-1-input" name="banner">
      <div class="slider">
        <div id="top-banner-1" class="banner">
          <div class="banner-inner-wrapper">
            <h2>We keep track of your activities</h2>
            <h1>Welcome<br>to Tasky</h1>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-2">Learn More</a></div>
          </div>
        </div>
        <div id="top-banner-2" class="banner">
          <div class="banner-inner-wrapper">
            <h2>What We Do</h2>
            <h1>Great<br>Tasky</h1>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-4">Learn More</a></div>
          </div>
        </div>
        <div id="top-banner-3" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Here We Are</h2>
            <h1>We Are<br>Tasky</h1>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#section-6">Learn More</a></div>
          </div>
        </div>
        <div id="top-banner-4" class="banner">
          <div class="banner-inner-wrapper">
            <h2>Our Contacts</h2>
            <h1>Welcome<br>to Tasky</h1>
            <div class="line"></div>
            <div class="learn-more-button"><a href="#main-footer">Learn More</a></div>
          </div>
        </div>
      </div>
      <nav>
        <div class="controls">
          <label for="banner1"><span class="progressbar"><span class="progressbar-fill"></span></span><span>01</span> Intro</label>
          <label for="banner2"><span class="progressbar"><span class="progressbar-fill"></span></span><span>02</span> Work</label>
          <label for="banner3"><span class="progressbar"><span class="progressbar-fill"></span></span><span>03</span> About</label>
          <label for="banner4"><span class="progressbar"><span class="progressbar-fill"></span></span><span>04</span> Contacts</label>
        </div>
      </nav>
    </div>
  </section>
<br>
<!-- Features Section -->
<section class="features">
    <div class="container">
        <h2 class="text-center mb-4">Features</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="feature-container">
                    <img src="../static/img/4942219.jpg" alt="Task Organization" class="img-fluid mb-3">
                    <h3>Task Organization</h3>
                    <p>Easily organize your tasks into categories or projects.</p>
                     <a href="{{url_for('sign_in')}}" class="btn btn-primary">Get Started</a>

                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-container">
                    <img src="../static/img/6860680.jpg" alt="Priority Management" class="img-fluid mb-3">
                    <h3>Priority Management</h3>
                    <p>Set priorities for tasks to focus on what's important.</p>
                     <a href="{{url_for('sign_in')}}" class="btn btn-primary">Get Started</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-container">
                    <img src="../static/img/5385957.jpg" alt="Deadline Tracking" class="img-fluid mb-3">
                    <h3>Deadline Tracking</h3>
                    <p>Keep track of deadlines and due dates for your tasks.</p>
                     <a href="{{url_for('sign_in')}}" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
</body>
</html>